<a href="https://colab.research.google.com/github/quf0106/Python/blob/master/6%EC%9D%BC%EC%B0%A8_1%EA%B5%90%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
sub = ['국', '영', '수', '정보']
for i in range(len(sub)):
  print(i+1, '교시', sub[i])

1 교시 국
2 교시 영
3 교시 수
4 교시 정보

In [12]:
sub = ['국', '영', '수', '정보']
for i in range(len(sub)):
  if sub[i] == '수':
    print(i+1, '교시', sub[i], '해당')
  else :
    print(i+1, '교시', sub[i], '해당없음')

1 교시 국 해당없음
2 교시 영 해당없음
3 교시 수 해당
4 교시 정보 해당없음

In [15]:
for i, val in enumerate(sub) :
  print(i+1, val)

1 국
2 영
3 수
4 정보

In [17]:
for i in range(1, 11) :
  if i % 2==0 :
    print('파이썬')
  else :
    print('야~ 나도 파이썬 할 수 있어')

야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬