<a href="https://colab.research.google.com/github/quf0106/Python/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC_3%EC%9D%BC_1%EC%B0%A8%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Type_Dictionary**

```
# dic = {1 : '왕기', 2 : '정우', 3 : 30103}
```

In [0]:
dic = {'아싸' : '왕기', 2 : '정우', 3 : 30103}

In [23]:
dic['아싸'], dic[2], dic[3]

('왕기', '정우', 30103)

In [25]:
dic.get('아싸')

'왕기'

In [27]:
dic.values()

dict_values(['왕기', '정우', 30103])

In [29]:
dic.items()

dict_items([('아싸', '왕기'), (2, '정우'), (3, 30103)])

In [30]:
dic.keys()

dict_keys(['아싸', 2, 3])

In [10]:
a = '인천정보산업고등학교'
type(a)

str

In [12]:
type(dic)

dict

In [17]:
b=[1, 2, 3, 4, 5]
type(b)
b[0] = 8
b

[8, 2, 3, 4, 5]

In [22]:
c = 1, 2, 3, 4, 5
type(c)
c[0] = 8
c

TypeError: ignored

# **[문제풀이]**

**[문제1]**


```
'*'문자를 100번 출력하시오.
```

In [31]:
print('* ' * 100)

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

**[문제2]**


```
input() 내장 함수를 이용하여 id에 입력을받기.
```

In [41]:
id = input('id를 입력 >>> ')
print(id + '님 안녕하세요')
print(id, '님 안녕하세요')

id를 입력 >>> K
K님 안녕하세요
K 님 안녕하세요

In [42]:
type(id)

str

**[문제3]**


```
나의 나이를 입력받아(변수 : gap) 환갑이 되는 나이 년도 구해보기 
'당신이 환갑이 되는 년도는 2032년 입니다.' 와 같이 출력해보기
```

In [54]:
gap = input('태어난 년도를 입력 >> ')
print('당신이 환갑이 되는 년도는', int(gap)+60, '년 입니다')

태어난 년도를 입력 >> 2002
당신이 환갑이 되는 년도는 2062 년 입니다

**[문제4]**

두개의 숫자를 입력  **, %, /, //
```
#
a, b = input('두개의 숫자 입력').split()
```

In [57]:
a = input('두개의 숫자 입력').split()
b = int(a[0])
c = int(a[1])
print(b, c)
print(b**c)
print(b%c)
print(b/c)
print(b//c)

두개의 숫자 입력2 3
2 3
8
2
0.6666666666666666
0